/node_modules
/public/hot
/public/storage
/public/js/
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/.phpstorm.meta.php
/_ide_helper.php
/resources/js.oldf/components/Pages/About.vue
/resources/js.oldf/app.js
/resources/js.oldf/components/Pages/App.vue
/resources/js.oldf/components/Benevolat.vue
/resources/js.oldf/bootstrap.js
/resources/js.oldf/components/ColorCtr.vue
/resources/js.oldf/components/Pages/Dashboard.vue
/resources/js.oldf/components/Debug.vue
/resources/js.oldf/components/Disponibilites.vue
/resources/js.oldf/stores/Event.js
/resources/js.oldf/components/Pages/Home.vue
/resources/js.oldf/components/InfosPerso.vue
/resources/js/components/InfosPersoOld.vue
/resources/js.oldf/components/MyCombobox.vue
/resources/js.oldf/components/MyDateTime.vue
/resources/js.oldf/components/MyStepperContent.vue
/resources/js.oldf/components/MyTimePicker.vue
/resources/js.oldf/components/NavDrawer.vue
/resources/js.oldf/components/Pages/Planning.vue
/resources/js.oldf/stores/Register.js
/resources/js.oldf/components/Pages/Register.vue
/resources/js.oldf/components/Pages/RegisterPage.vue
/resources/js.oldf/components/SelectPoste.vue
/resources/js/components/Pages/SignIn.vue
/resources/js/components/Pages/SignUp.vue
/resources/js.oldf/stores/User.js
/resources/js.oldf/vuetify.js
